body{
    background: #a6c285;
}

.link_ferrari{
    display: inline-block;
    background: red;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 483px;
    padding-left: 5px;
    padding-top: 4px;
}

.headerMenu{
    width: 1330px;
    margin: 0 auto;
    margin-top: 50px;
}

.headerMenu li{
    display: inline-block;
    background: a6c285;
    width: 145px;
    text-align: center;
    margin-right: 40px;
}

.authorization_form{
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    outline: 4px solid green;
    border: 25px solid #a6c285;
}

.reg_interview{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    outline: 4px solid green;
    border: 25px solid #a6c285;
}

.headerMenu li a{
    text-decoration: none;
    color: brown;
}

.headerMenu li a:hover{
    color: white;
}

.line{
    width: 90%;
    height: 2px;
    background: green;
    margin: 0 auto;
    margin-top: 25px;
}

.page_content{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.line_un{
    display: flex;
    justify-content: space-between;
}

.line_deux{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.line_trois{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.head_market_un{
    text-align: center;
    margin-top: 100px;
}

.object{
    outline: 2px solid green;
    border: 10px solid #a6c285;
}

.object p{
    text-align: center;
}

.object button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
