body{
    background: yellow;
}

.link_ferrari{
    display: inline-block;
    background: red;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 483px;
    padding-left: 5px;
    padding-top: 4px;
}

.headerMenu{
    width: 1330px;
    margin: 0 auto;
    margin-top: 50px;
}

.headerMenu li{
    display: inline-block;
    background: pink;
    width: 145px;
    text-align: center;
    margin-right: 40px;
}

.authorization_form{
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    outline: 4px solid green;
    border: 25px solid yellow;
}

.reg_interview{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    outline: 4px solid green;
    border: 25px solid yellow;
}

.headerMenu li a{
    text-decoration: none;
    color: brown;
}

.headerMenu li a:hover{
    color: white;
}

.line{
    width: 90%;
    height: 2px;
    background: green;
    margin: 0 auto;
    margin-top: 50px;
}
